/* src/assets/main.css */

/* Kamu bisa mengatur ulang beberapa gaya dasar di sini jika perlu */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /* Atur font default */
}

/* Gaya untuk semua section */
section {
    padding: 80px 20px;
    margin: 100px 0;
}

/* Gaya untuk card agar konsisten, jika diperlukan secara global */

.company {
    font-family: "Poppins", sans-serif;
    color: #8f94fb;
}